<!DOCTYPE html>
<html ng-app="pocApp">
<head>
<title>idaciti POC</title>
<link rel="stylesheet" type="text/css" href="styles/main.css"/>
</head>
<body>

<form id="filters" ng-controller="FilterCtrl">
	<fieldset>
		<legend>Industries</legend>
		<select 
			ng-model="selectedindustry" 
			ng-options="industry for industry in industries"></select>
			<p ng-bind-template="{{selectedindustry}}"></p>
	</fieldset>
	<fieldset>
		<legend>Companies</legend>
		<select 
			ng-model="selectedcompany" 
			ng-options="company for company in companies"></select>
			<p ng-bind-template="{{selectedcompany}}"></p>
	</fieldset>
	<fieldset>
		<legend>Statements</legend>
		<select 
			ng-model="selectedstatement" 
			ng-options="statement for statement in statements"></select>
			<p ng-bind-template="{{selectedstatement}}"></p>
	</fieldset>
</form>
<div id="chart">
<svg width="400" height="400">
	<g>
		<defs>
			<linearGradient id="cellOverlay" >
				<stop offset="0.8" stop-color="black" stop-opacity="0" />
				<stop offset="1" stop-color="black" stop-opacity="0.4" />
			</linearGradient>
		</defs>
	</g>
</svg>
</div>
<div id="storyboard"></div>

<!--REGION SCRIPTS -->
<!--Submodule-->
	<script src="tabletop/src/tabletop.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>

	<!--Hosted-->
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="scripts/main.js" type="text/javascript"></script>

<!--ENDREGION SCRIPTS -->

</body>
</html>
