@font-face {
  font-family: 'Aller-Regular';
  src: url('./fonts/Aller_Rg.ttf') format('truetype');
}
@font-face {
  font-family: 'Aller-Display';
  src: url('./fonts/AllerDisplay.ttf') format('truetype');
}
@font-face {
  font-family: 'Aller-Light';
  src: url('./fonts/Aller_Lt.ttf') format('truetype');
}

.font-display {
  font-family: 'Aller-Display';
}

.font-light {
  font-family: 'Aller-Light';
}

.neutral-color {

  background-color: grey;
}

.neutral-background-color {
  background-color: grey;
}

body {
  background-color: grey;
  font-family: 'Aller-Regular';

}

p {
  margin: 0;
}

button {
  border: 0;
  cursor: pointer;
}

a,
a:active,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  border: 0;
  width: 100%;
  margin-bottom: 1em;
  font-size: 1em;
  padding: 10px;
  font-family: 'Aller-Regular';
}

.module-name {
  /* font-size:  4em; */
  font-size: 48px;
  vertical-align: middle;
  margin-left: 20px;
}

.module-name > * {
  vertical-align: middle;
}

.module-slugline {
  font-size: 1.2em;
}

.idaciti-background {
  background-color: #bfd730;
}

.idaciti-foreground {
  color: #bfd730;
}

.primary-color {

  color: #e1e1e1;
}

.secondary-color {

  color: #494949;
}

.secondary-color-background {
  background-color: #494949;
}

.tertiary-color {
  color: #747474;
}

.secondary-enhanced-color {
  color: #3b3b3b;
}

.secondary-enhanced-color-background {
  background-color: #3b3b3b;
}

.highlight-notification-strip {
  height: 10px;
  display: block;
}

body,
html {
  padding: 0;
  margin: 0;
}

.body,
.header {
  display: flex;
}

.header {
  padding: 0 200px;
}

.drawing-container {
  /* width: 400px; */
  width: 460px;
}

.drawing-container {
  margin-right: 100px;
}

.login-container {
  margin-left: 100px;

}

.login-container {
  position: relative;
  font-size: 1.2em;
  height: 500px;
  width: 400px;
  margin-top: 100px;
  box-sizing: border-box;
  padding: 32px;
  /* z-index:-2; */

}

.login-container .copyright {
  position: absolute;
  bottom: 0;
  bottom: -28px;
  font-size: 18px;
  text-align: center;
  left: 0;
  right: 0;
}

button {

  font-size: 1.2em;
  text-align: center;
  padding: 10px 24px;
  vertical-align: middle;

}

.login-container button {
  display: block;
  width: 100%;
}

.login-container form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* .login-container .sign-in {
    
} */
.login-container .action a {
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 1.1em;

}

svg {
  margin: auto;
  width: 100%;
  margin-top: -40px;
  transition: all .2s ease-in-out;
}

.drawing-container {
  cursor: pointer;
  position: relative;
}

.drawing-container .drawing-backer {
  transition: all .2s ease-in-out;
  width: 80%;
  height: 380px;
  background-color: white;
  border-radius: 200px;
  position: absolute;
  left: 10%;
  top: 23%;
  z-index: -1;
  box-shadow: 30px 30px 120px #575757;
  opacity: .2;

}

.drawing-container:hover .drawing-backer {
  opacity: .9;
}

.drawing-header {
  transition: all .2s ease-in-out;
  height: 120px;
  box-sizing: border-box;
}

.drawing-container:hover .drawing-header {
  padding-top: 10px;
}

.drawing-container:hover svg {
  margin-top: -43px;
}
/* .drawing-container #path1664,
.drawing-container #path1664-2,
.drawing-container #path1990  */

.drawing-container #linearGradient2169-5 #stop2179,
.drawing-container #linearGradient2169-5 #stop2181 {
  transition: all .2s ease-in-out;
}

/* .drawing-container:hover #path1664,
.drawing-container:hover #path1664-2,
.drawing-container:hover #path1990  */

/* 
     */
/*, .drawing-container:hover #linearGradient2169-5 #stop2181  */
.drawing-container:hover #linearGradient2169-5 #stop2179 {
  stop-color: #879b15!important;
}

.drawing-container:hover #linearGradient2169-5 #stop2181 {
  stop-color: #bfd730!important;
}

.header {
  /* Let the list do this */
  /* padding-top: 20px;
  padding-bottom: 20px; */
  box-sizing: border-box;
  background-color: transparent;
  transition: background-color .2s ease-in-out;
}

.header:hover {

  background-color: #4949495a;
}

.header ul {
  list-style: none;
  /* list-style: none; */
  display: flex;
  width: 600px;
  margin: 0;
  font-size: 1em;
}

.header li {
  /* display: block; */
  flex: 1;
  /* border-right: 1px solid white; */
}

.header li a {
  display: block;
  /* //00%; */
  padding: 24px;
  text-align: center;

}

.header li a:hover {
  cursor: pointer;
  /* background-color: #4949495a; */
}

a:hover {
  text-decoration: underline;
}

.logo {

  width: 120px;
  margin-top: 20px;
}

.social-icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-left: 5px;
  display: inline-block;

}

.fancy-or {
  margin-bottom: 2em;
  position: relative;
}

.or {

  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: auto;
  font-size: .8em;
  /* z-index: -1; */
  /* position: absolute; */
  /* left: 50%; */
  text-align: center;
  line-height: 30px;
  position: absolute;
  left: calc(50% - 15px);
  top: -15px;
}

.or-line {
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  /* z-index:-1; */
}

.social {
  margin-bottom: 1em;
}

.flex-spacer {
  flex: 1;
}
@media only screen and (min-width:1400px) {
  /* .body, */
  .header {
    padding-left: 400px;
    padding-right: 400px;
  }

  .login-container {
    height: 520px;
    width: 450px;
  }

}
@media only screen and (min-width:1600px) {
  .drawing-container {
    margin-right: 120px;
  }

  .login-container {
    margin-left: 120px;
  }
}

.background {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.module-icon-background {
  background-repeat: no-repeat;
  background-image: url("./module_icon_background.svg");
  display: block;
  height: 100%;
  background-size: 100%;
  position: absolute;
  width: 15%;
  top: 100px;
  left: 100px;
}

.abacus-background-2 {
  top: 340px;
  /* background-position-x: -20%; */
  left: -40%;
}

.module-navigation {
  width: 100%;
  /* margin-top: 1em; */
  /* margin-top: 10px; */
}

.module-navigation img {
  width: 100%;
}

.module-header {
  display: block;
  margin: 10px 20%;
}

.body {
  flex-direction: column;
}

button .icon {
  vertical-align: middle;
}

.module-body {
  padding-left: 10%;
  /* margin-top: 40px; */
  /* .body already has padding */
  /* margin-top: 20px; */
  display: flex;

}

.module-drawing img {
  max-width: 100%;
}

.module-drawing {
  opacity: .9;
  margin-top: 0;
  transition: all .2s ease-in-out;
  width: 320px;
  height: 360px;
}

.module-drawing:hover {
  cursor: pointer;
  opacity: 1;
  margin-top: -3px;
}

.filler-line {
  /*TODO: could I just use */
  display: block;
  background-color: #898989;
  height: 18px;
  width: 100%;
  margin-bottom: 20px;
}

.module-content-block {

  width: 600px;
  height: 500px;
}

.module-image-gallery {
  display: flex;
  height: 160px;
  margin-bottom: 20px;
}

.module-image-gallery-image {
  flex: 1;
  margin-right: 20px;
  /* background-color: white; */
  background-color: #686868;

}

.module-image-gallery-image:last-child {

  margin-right: 0;
}

.side-by-paras {
  display: flex;
  /* margin-left: 10px; */

}

.side-by-paras p {
  flex: 1;
}

.side-by-paras p:first-child {
  margin-right: 20px;

}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loading svg {

  /* height: 100%; */
  width: 100px;
  height: 100px;
  /* My dots exceed the outer boundaries of SVG */
  overflow: visible;
  left: 50%;
  top: 50%;
  position: absolute;
}
@media only screen and (min-width:1600px) {
  .module-navigation {
    margin-top: 10px;
  }

  .module-header {
    margin-top: 40px;
  }

  .module-drawing {
    width: 460px;
    height: 480px;
  }

  .module-slugline {
    font-size: 1.2em;
  }

  .module-body {

    /* padding-left: 20%; */
    padding-left: 15%;
  }

  .module-slugline {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .module-content-block {

    width: 700px;
  }
}
